body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #3498db, #2ecc71);
    color: #fff;
    font-family: 'Arial', sans-serif;
    position: relative;
    min-height: 100vh;
    padding-top: 160px; /* Adjust to ensure content is below fixed header and navbar */
}

.header {
    background-color: white;
    color: red;
    text-decoration: underline 2px;
    padding: 40px 0;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 1000;
    animation: slideDown 0.5s ease-in-out;
}

.header img {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 120px;
    height: 100px;
}

.header h1 {
    margin: 0;
    font-size: 30px;
}

.navbar {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 117px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out;
}

.navbar a {
    color: #6dc453;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.navbar a:hover {
    background: #ffd000;
    color: #fff;
    border-radius: 40px;
    font-weight: bold;
    transform: scale(1.1);
}

.navbar a:last-child {
    margin-right: 10px;
}

.back-btn {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.back-btn:hover {
    background-color: #555;
}

.logout-btn {
    background-color: #f00;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.logout-btn:hover {
    background-color: #f22;
}

h2 {
    margin-top: 20px;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
    margin-top: 20px;
    width: 80%;
    box-sizing: border-box;
    display: block;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid #fff;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th.status-header {
    background-color: #2c3e50;
    position: sticky;
    top: 0;
    z-index: 2;
}

th {
    background-color: #2c3e50;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 2;
}

.edit-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.delete-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.edit-button:hover,
.delete-button:hover {
    opacity: 0.8;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

td.completed-status {
    background-color: #2ecc71;
}

td.incomplete-status {
    background-color: #e74c3c;
}

td.pending-status {
    background-color: #f39c12;
}

.add-button {
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.add-button:hover {
    background-color: #c0392b;
    transform: scale(1.1);
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000; /* Increase z-index to ensure modal is on top */
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
}

.form-container {
    box-sizing: border-box;
    width: 80%;
    max-width: 450px;
    height: 45vh;
    max-height: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #34495e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3000; /* Increase z-index to ensure modal is on top */
    animation: slideIn 0.3s ease-in-out;
}

.form-container .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.form-container .close-button:hover {
    background-color: #c0392b;
    transform: scale(1.1);
}

.form-container form {
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #34495e;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container select,
.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: #2c3e50;
}

.form-container button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.form-container button.edit-button {
    background-color: #3498db;
    color: #fff;
}

.form-container button.delete-button {
    background-color: #e74c3c;
    color: #fff;
}

.form-container button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.edit-delete-buttons {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
}

.save-button {
    background-color: #3498db;
    color: #fff;
}

/* Styling the logout button */
#logoutButton {
    float: right;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#logoutButton:hover {
    background-color: #d32f2f;
}

/* Keyframes for animations */
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
